body, html { 
  margin: 0; 
  font-family: roboto; 
  height: 100vh; 
  background:  #ccc; 
}

*, *:before, *:after { 
  box-sizing: border-box; 
}
h2{
  text-align:center;
}

.carousel-container {
  list-style-type: none;
  padding: 0;
  margin: 30px auto;
  width: 550px;
  height: 338px;
  height: 350px;
  border-radius: 5px;
  position: relative;
  .carousel-caption {
  top: 0rem;
  color: #fff;
  left: 10%;
  padding-bottom: 2rem;
  position: absolute;
  text-align: center;
  z-index: 1;
}
  .arrow { 
    cursor: pointer; 
    color: orange; 
    display: block;
    width: 50px;
    font-size: 62px;    
    text-align: center;
    bottom: 0;
    top: 0;
    line-height: 330px;
    position: absolute;
    z-index: 9999;
    padding-bottom: 4px;
    padding-top: 2px;
    border-radius: 2px;
    -webkit-user-select: none;
    -moz-user-select: none;    
    -ms-user-select: none;   
    user-select: none; /* arrow */
    &.next { 
      left: 0px; 
      background: linear-gradient(to right, rgba(0,0,0,0.5), transparent)
    }
    &.back { 
      right: 0px; 
      background: linear-gradient(to left, rgba(0,0,0,0.5), transparent)      
    }
    &:hover { color: rgba(255,255,255,1); }
  } /* arrow */
  li:nth-child(1) > .dot { margin-left: 44.6% }
  .carousel-content { 
    height: 0; 
    overflow: hidden; 
    /*line-height: 22px;*/
    background: #000;
    position: absolute;
    top: 0px;
    border-radius: 5px;
    box-shadow: 0 5px 5px -5px #333; 
    list-style-type: none;
    padding: 0;     
    img {
      opacity: 0;
      padding: 0;
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      border-radius: 5px;
      transition: 0.2s ease-in;    
    }
  } /* carousel content */
  .dot {
    float: left;
    cursor: pointer;    
    opacity: 1;
    width: 12px;
    height: 12px;
    background: orange; /*rgba(255,255,255,0.5);*/
    position: relative;
    margin-top: 56%;
    border-radius: 50%;
    z-index: 999;
    margin-right: 8px;
    display: block;  
    &:hover { background: #fff; }          
  } /* dot */ 
  .carousel-toggle {
    display: none;
    &:checked + .dot,
    &.active + .dot { background: #fff; }
    &:checked ~ .carousel-content,
    &.active ~ .carousel-content { 
      height: 100%;
      width: 100%;
      img { opacity: 1; }
    }/* checked active*/
  } /* carousel-toggle */
} /* carousel container */


